<!DOCTYPE html>
<!--{% load static %}-->

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!-- Bootstrap CSS -->
<!--      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">-->
<!--      <link rel="stylesheet" href="{% static 'css/style.css' %}">-->


    <title>{% block title%} Обучение. {% endblock %}</title>
  </head>


  <body>



<span>
  {% if request.user.is_authenticated %}
  <span> Пользователь {{ user.username }} в системе. </span> | <a href="{% url 'education:logout' %}">Выход</a>
  {% else %}
  <span>
    <a href="{% url 'education:register' %}">Регистрация: </a> | <a href="{% url 'education:login' %}">Войти: </a>
  </span>
  {% endif %}
</span>


  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div style="background: red">{{ message }}</div>
      {% else %}
        <div style="background: lightgreen">{{ message}}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

        {% include 'include/_navbar.html' %}

        {% block sidebar %} SIDEBAR {% endblock %}

        {% block body %} CONTENT {% endblock %}





  </body>
</html>