<!DOCTYPE html>
<!--{% load static %}-->

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<!--      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">-->
<!--      <link rel="stylesheet" href="{% static 'css/style.css' %}">-->

    {{ form.media.css }}
    <style>
        input, select {width: 100%}
    </style>

    <title>{% block title%} Обучающий сайт. {% endblock %}</title>



  </head>
  <body>
<span>
  {% if request.user.is_authenticated %}
  <span> Пользователь {{ user.username }} в системе. </span> | <a href="{% url 'education:logout' %}">Выход</a>
  {% else %}
  <span>
    <a href="{% url 'education:register' %}">Регистрация: </a> | <a href="{% url 'education:login' %}">Войти: </a>
  </span>
  {% endif %}
</span>


  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div style="background: red">{{ message }}</div>
      {% else %}
        <div style="background: lightgreen">{{ message}}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

        {% include 'include/_navbar.html' %}

<main>
    <div class="container-fluid">
        <div class="d-flex align-items=center py-5">
            <div class="col-12 col-lg-7 col-lg-4 mx-auto">
                {% block body %} CONTENT {% endblock %}
            </div>
        </div>
    </div>
</main>





  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>
  </body>
</html>