{% extends 'base.html' %}

{% block title %}Наши курсы.{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}

    <h1>Hello courses!</h1>

<a href="{% url 'education:course_create' %}">Создать новый курс</a>

{% for item in courses %}

<ul>
    <span>
       <li>
      <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
    </li>
        <li>
      <p>{{ item.category }}</p>
    </li>

    <li>
      <p>{{ item.description }}</p>
    </li>
    <li>
      <p>{{ item.created }}</p>
    </li>
    </span>
    <br>
</ul>
  {% empty %}
    <p> Курсов нет</p>
  {% endfor %}


{% endblock %}