{% extends 'base.html' %}

{% block title %}Создание курса{% endblock %}

{% block body %}
<div class="card m-3">
  <h1 class="card-header">Создание курса</h1>
  <div class="card-body">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form}}
  <h2 class="card-header">Добавление урока</h2>
  {% for formset in inlines %}
    {{ formset }}
  {% endfor %}
  <button class="btn btn-secondary mt-2" type="submit">Создание курса</button>
  </form>

    <div class="card m-3">
      <a href="{% url 'education:courses_list' %}" class="btn btn-secondary mt-2">Вернуться к списку курсов</a>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock %}