{% extends 'base.html' %}

{% block title %}Создание курса{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
<h1>Создание курса</h1>
<div>
<form method="post">
  {% csrf_token %}
  {{ form }}

  {% for formset in inlines %}
    {{ formset }}
  {% endfor %}

  <input type="submit" value="Submit" />
</form>



    <button class="btn btn-secondary mt-2" type="submit">Создание курса</button>

  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
<a href="{% url 'education:courses_list' %}">Вернуться к списку курсов</a>
{% endblock %}