{% extends 'base.html' %}

{% block title %} Страница курса "{{ course.title }}".{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}

    <h1>Hello course!</h1>
{% if course %}

<ul>
    <li>
      <p>{{ course.category }}</p>
    </li>
    <li>
      <p>{{ course.title }}</p>
    </li>
    <li>
      <p>{{ course.description }}</p>
    </li>
    <li>
      <p>Курс создан {{ course.created }}</p>
    </li>
    <li>
      <p>Курс обновлен {{ course.update }}</p>
    </li>

    <li>
        <h3>Ученики курса:</h3>
        <ul>
            {% for item in course.students.all %}
                {% if item.user.last_name %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.user.first_name }} {{ item.user.last_name }}</a></li>
                {% else %}
                <li><a href="{{ item.get_absolute_url }}">{{ item.user.username }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>


</ul>
{% else %}
    <p>Нет ни одного курса</p>
{% endif %}

 <h4>Уроки курса:</h4>
    <ul>
    {% for item in course.lessons.all %}
        <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a> </li>
    {% endfor %}
    </ul>

<div>
    <a href="{% url 'education:course_update' pk=course.pk %}">Редактировать курс</a>
</div>
<div>
    <a href="{% url 'education:courses_list' %}">Вернуться к списку курсов</a>
</div>

{% endblock %}