{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}

<div class="card m-3">
  <h1 class="card-header"> Редактирование урока {{ lesson.title }}</h1>
    <div class="card-body">

    <form method="post">
      {% csrf_token %}
      {{ form }}
      {% for formset in inlines %}
        {{ formset }}
      {% endfor %}

    <button type="submit" class="btn btn-secondary mt-2">Редактирование урока</button>
  </form>

        <a href="{% url 'education:course_detail' pk=lesson.course.pk %}" class="btn btn-secondary mt-2">На главную страницу курса</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock %}