{% extends 'base.html' %}
<!--{% load static %}-->

{% block title %} Confirm delete {{ object.title }}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}

<div class="card m-3">
  <h1 class="card-header">Вы уверены, что хотите удалить урок "{{ object.title }}"?</h1>

  <div class="card-body">
  <a href="{% url 'education:lesson_detail' pk=object.pk %}" class="btn btn-secondary mt-2">Возврат на главную страницу урока</a>

    <div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-secondary mt-2">Удалить урок "{{ object.title }}"?</button>
      </form>
    </div>

    <a href="{% url 'education:course_detail' pk=object.course.pk %}" class="btn btn-secondary mt-2">Курс "{{ object.course }}"</a>


{% endblock %}