<!--{% load static %}-->

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>Создание урока!</h1>
<div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.management_form }}
    {{ form.as_p }}

        <h3>Добавление файлов.</h3>

    {% for formset in inlines %}
        {{ formset }}
    {% endfor %}

      <br>

      {{ lesson }}


    <button type="submit">Создание урока</button>
  </form>
</div>

<a href="{% url 'education:courses_list' %}">Вернуться к списку курсов</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock %}