{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}

<div class="card m-3">
      <h2 class="card-header">Урок: {{ lesson.title }} </h2>
      <div class="card-body">
          {% if lesson.photo %}
        <img src="{{ lesson.photo.url }}" class="img-fluid mb-3" alt="Картинка урока {{ lesson.title }}">
          {% endif %}
        <p class="card-text">Описание урока: {{ lesson.description }}</p>

        <div class="card">
            <div class="card-header">Файлы урока:</div>
            <ul class="list-group list-group-flush">

              {% for item in lesson.files.all %}
                <div class="card m-3">
                        <li class="list-group-item card-header">{{ item.file|split:"/"|last }}</li>
                        <li class="list-group-item">{{ item.description }}</li>
                        <li class="list-group-item"><a href="{{ item.file.url }}">{{ item.file }}</a></li>
                </div>
                {% endfor %}
            </ul>
        </div>

        <div class="card mt-3">
             <a href="{% url 'education:course_detail' pk=lesson.course.pk %}" class="btn btn-secondary mt-2">Перейти на страницу курса</a>
             <a href="{% url 'education:lesson_update' pk=lesson.pk %}" class="btn btn-secondary mt-2">Редактировать урок</a>
             <a href="{% url 'education:lesson_delete' pk=lesson.pk %}" class="btn btn-secondary mt-2">Удалить урок</a>
        </div>


      </div>
</div>

{% endblock %}