{% extends 'base.html' %}

{% block title %}Информация о преподавателе {{ teacher.user.username }}.{% endblock %}

{% block body %}

<div class="card mx-3">
      <h2 class="card-header">Преподаватель: {{ teacher.user.username }}: {{ teacher.user.first_name }} {{ teacher.user.last_name }}</h2>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for item in teacher.lessons.all %}
            <li class="list-group-item">
              <a href="{{ item.get_absolute_url }}">{{ item }}</a>
            </li>
          {% endfor %}
        </ul>

          <a href="{% url 'education:teachers_list' %}" class="btn btn-secondary mt-2">Перейти на страницу списка преподавателей</a>

      </div>
</div>

{% endblock %}