{% extends 'base.html' %}

{% block title %}Наши преподаватели.{% endblock %}


{% block body %}

<div class="mx-3">
    <h1>Наши преподаватели:</h1>
</div>

{% for item in teachers %}

<div class="card m-3">
      <h5 class="card-header">Ник преподавателя: {{ item.user.username }}</h5>
      <div class="card-body">
        <p class="card-title">Имя и фамилия преподавателя: {{ item.user.first_name }} {{ item.user.last_name}}</p>

        <a href="{{ item.get_absolute_url }}" class="btn btn-secondary mt-2">Перейти на страницу преподавателя</a>

      </div>
</div>

  {% empty %}
    <div class="card m-3">
        <p> Преподавателей нет</p>
    </div>
  {% endfor %}

{% endblock %}